body {
    padding: 0;
    margin: 0;
}


.navbar-light {
    background-color: rgba(0,0,0,.03);
    color: black !important;
}


.nav-link {
    font-family: 'Staatliches', cursive;
    text-transform: uppercase;
    color: #65716e;
    padding: 10px 25px 10px 25px !important;
    
}

.nav-link:hover {
    background-color: #bad0ca;
    color: white;
    border-radius: 300px;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

#navact {
    background-color: #bad0ca;
    color: white !important;
    border-radius: 300px;
}

.navbar-toggler {
    background-color: #bad0ca !important;
}


h1 {
    font-family: 'Staatliches', cursive !important;
    font-size: 5em !important;
    text-align: center;
    letter-spacing: .1em;
    padding-top: 1em;
    padding-bottom: .01em;
}

#work {
    font-size: 3.75em !important;
}

#resumeheader {
    padding-bottom: 0em !important;
}

mark {
    background-color: #bad0ca !important;
    color: white;
}
h2 {
    font-family: 'PT Sans Narrow', sans-serif !important;
    font-size: 1.5em !important;
    text-align: center;
    padding: 1em;
    line-height: 1.8 !important;
}

#experiencetext {
    font-size: 1.35em !important;
    line-height: 1.5 !important;
    padding-top: .5em;
    padding-bottom: .5em;
}

#experiencetext1 {
    font-size: 1em!important;
    line-height: 1.5 !important;
    padding-top: .1em;
    padding-bottom: .1em;
}

#experienceheader {
    font-family: 'Staatliches', cursive !important;
    padding: 0em .1em .5em .1em;
    text-align: center;
    letter-spacing: .2em;
    font-size: 2.5em;
    line-height: 1 !important;
}

#resume {
    padding-top: 0em !important;
}

#download {
    background-color: #65716e;
    font-family: 'Staatliches', cursive !important;
    letter-spacing: .1em;
}

#download > a {
    text-decoration: none;
    color: white;
}

#download:hover {
    background-color: #bad0ca;
    color: white;
    text-decoration: none;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

#bio {
    font-size: 1.25em !important;
    line-height: 1.5 !important;
}

#contacttext  {
    font-size: 2em !important;
    line-height: 1.5 !important; 

}

#contactme {
    text-align: left!important;
    font-size: 1.25em !important;
    letter-spacing: .025em;
    padding: 0px !important;
}

#contactme  > a, #experiencetext > a {
    color: #65716e;
}

#contactme > a:hover, #experiencetext > a:hover {
    color: #bad0ca;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}


h4 {
    font-family: 'Staatliches', cursive !important;
    text-align: center;
    color: white !important;
    font-size: 1.5em !important;
    letter-spacing: .1em;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.hovereffect {
    position: relative;
    width: relative;
}

.expimage {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #bad0ca;
}

.hovereffect:hover .overlay {
  opacity: 1;
}

#experience {
    padding-bottom: 2em;
}



footer {
    font-size: 16px;
    background-color: rgba(0,0,0,.05);
    padding: 1em;
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif !important;
}

.icons > a, #linkedin > a {
    color: #bad0ca;
}
.icons > a:hover, #linkedin > a {
    color: #65716e;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

#selfie {
    border-radius: 50%;
}

#linkedin {
    text-align: center;
    padding-top: .1em;
}

#stockimg {
    padding-bottom: 20px;
}

#sociallinks {
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: left;

}


.carousel-control-next-icon {
    background-image : url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%696969' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%696969' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

